<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr th, table tr td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>All Flights</h1>
    <table>
        <tr>
            <th>Destination</th>
            <th>Source</th>
            <th>Price</th>
            <th>Avaliable Seats</th>
        </tr>
        {% for flight in flights %}
        <tr>
            <td>{{flight.destination}}</td>
            <td>{{flight.source}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.number_of_seats}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>