body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    /* background-color: #007bff; */
    background-color: darkseagreen;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: darkseagreen;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: darkseagreen;
    color: #fff;
}
